.container{
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.main{
    width:20%;
    height: 250px;
    margin: 2%;
}

.pagination{
    text-align: center;
    padding: 10px;
}

  .image-popup img:hover {
    width:21%;
    height: 270px;
    border: 2px solid #fff;
    border-radius: 8px;
  }
